/* main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
} */

/* h2 {
  font-size: var(--h2-font-size);
} */
